* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #202040;
}

h1 {
    text-align: center;
    color: #fdb100;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    margin: 1rem 0 3rem;
}


.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    outline: none;
    padding: .5rem 1rem;
    border-radius: 10px;
    height: 50px;
    width: 320px;
    margin: 0.40rem;
    font-size: 1.15rem;
    transition: .5s;
}

.add {
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    background: #ffbd69;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: .25rem;
    font-size: 25px;
    font-weight: 300;
}

.add:hover {
    background-color: #ff7944;
}

.countainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item_input {
    background-color: #ddf9fc;
    outline: none;
    border: 3px solid #f5e2fd;
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin-top: 15px;
    font-size: 20px;
    width: 315px;
}

.remove {
    background: none;
    outline: none;
    border: none;
    color: #ff0123;
    font-size: 2rem;
    margin-left: 30px;
    cursor: pointer;
}

.remove_btn {
    margin-top: 35px;
    color: #fff;
    text-decoration: none;
    background-color: #fa3d3d;
    padding: 20px;
    border-radius: 5px;
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    font-size: 15px;
    transition: .5s;
    height: 55px;
    width: 150px;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.button_cout {
    margin-top: 50px;
}

.remove_btn:hover {
    background-color: #ff1313;
    letter-spacing: 1px;
}